
<div class="position-button">
    <button mat-icon-button mat-dialog-close style="top: 0;right: 0;"><mat-icon>cancel</mat-icon></button>
</div>

<div class="popup" >
    <h3>Confirmar Pedido</h3>
    <p>esta seguro que desea confirmar este pedido?</p>

    <mat-grid-list [cols]="1" rowHeight="100px" gutterSize="10px">
      
      <mat-grid-tile *ngFor="let product of productsCart" >
          <app-item-card [disabledQuantity]="true" [units]="product.units"[idProduct]="product.idProduct" [productName]="product.productName"[description]="product.description" [image]="product.image" 
          [measurement]="product.measurement" [price]="product.price"[index]="positionItem" (deleteProductEvent)="deleteProduct($event)"
          ></app-item-card>
      </mat-grid-tile>

    </mat-grid-list>
    <div class="total">
      <h4>Monto Total:</h4>
      <span class="priceTotal">{{totalPrice}} Bs.</span>
    </div>
    <div class="links">
      <a mat-button class="btn-confirm"(click)="saveOrder()">
        <mat-icon>check</mat-icon>
        <span> Tramitar Pedido</span>
        
      </a>
    </div>
  </div>
