<img src=""  class="avatar mat-elevation-z8">
<h4 class="name">NAME USER</h4>
<p class="designation">Admin</p>

<mat-divider></mat-divider>

    <a mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a mat-button class="menu-button" routerLink="/manageAccounts">
        <mat-icon>person</mat-icon>
        <span>Administrar cuentas</span>
    </a>
    <a mat-button class="menu-button" routerLink="/registerStores">
        <mat-icon>add_business</mat-icon>
        <span>Registrar Almacenes</span>
    </a>
    <a mat-button class="menu-button" routerLink="/showStores">
        <mat-icon>store</mat-icon>
        <span>Almacenes</span>
    </a>
    <a mat-button class="menu-button" (click)="open =!open">
        <mat-icon>list_alt</mat-icon>
        <span>Pedidos</span>
    </a>
    <div *ngIf="open" style="margin-left: 10px;">
        <a mat-button class="sub-menu-button" routerLink="/home/reports">
            <mat-icon>summarize</mat-icon>
            <span>Reportes</span>
        </a>
        <a mat-button class="sub-menu-button" routerLink="/home/show-orders">
            <mat-icon>fact_check</mat-icon>
            <span>Pedidos por producto</span>
        </a>
    </div>
    
<mat-divider></mat-divider>
    <a mat-button class="menu-button">
        <mat-icon>help</mat-icon>
        <span>Help</span>
    </a>
    <a mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </a>
    