<img src=""  class="avatar mat-elevation-z8">
<h4 class="name">{{user?.userName}}</h4>
<p class="designation">Admin</p>

<mat-divider></mat-divider>

    <a mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </a>
    <a mat-button class="menu-button" routerLink="/manageAccounts" *ngIf="ROLE_ADMINISTRAR_USUARIOS">
        <mat-icon>person</mat-icon>
        <span>Administrar cuentas</span>
    </a>
    <a mat-button class="menu-button" routerLink="/registerStores" *ngIf="ROLE_ADMINISTRAR_ALMACENES">
        <mat-icon>add_business</mat-icon>
        <span>Registrar Almacenes</span>
    </a>
    <a mat-button class="menu-button" routerLink="/showStores" *ngIf="ROLE_ADMINISTRAR_ALMACENES">
        <mat-icon>store</mat-icon>
        <span>Almacenes</span>
    </a>
    <a mat-button class="menu-button" (click)="open =!open"*ngIf="ROLE_ADMINISTRAR_PEDIDOS">
        <mat-icon>list_alt</mat-icon>
        <span>Pedidos</span>
    </a>
    <div *ngIf="open" style="margin-left: 10px;">
        <a mat-button class="sub-menu-button" routerLink="/home/reports">
            <mat-icon>summarize</mat-icon>
            <span>Reportes</span>
        </a>
        <a mat-button class="sub-menu-button" routerLink="/home/show-orders">
            <mat-icon>fact_check</mat-icon>
            <span>Pedidos por producto</span>
        </a>
    </div>
    <a mat-button class="menu-button" (click)="openDelivery=!openDelivery" *ngIf="ROLE_VER_PEDIDOS">
        <mat-icon>delivery_dining</mat-icon>
        <span>Delivery</span>
    </a>
    <div *ngIf="openDelivery" style="margin-left: 10px;">
        <a mat-button class="sub-menu-button" routerLink="/home/reports/delivery">
            <mat-icon>summarize</mat-icon>
            <span>Reportes</span>
        </a>
        <a mat-button class="sub-menu-button" routerLink="/home/delivery">
            <mat-icon>delivery_dining</mat-icon>
            <span>Pedidos Delivery</span>
        </a>
    </div>
    <a mat-button class="menu-button" routerLink="/home/payments" *ngIf="ROLE_ADMINISTRAR_PEDIDOS">
        <mat-icon>payments</mat-icon>
        <span>Formas de Pago</span>
    </a>
    <a mat-button class="menu-button" routerLink="/home/update/warehouses" *ngIf="ROLE_ACTUALIZAR_PRECIOS || ROLE_ACTUALIZAR_IMAGEN">
        <mat-icon>update</mat-icon>
        <span>Actualizar Datos</span>
    </a>
    <a mat-button class="menu-button" routerLink="/home/pay-delivery" *ngIf="ROLE_ADMINISTRAR_PEDIDOS">
        <mat-icon>paid</mat-icon>
        <span>Pagos Delivery</span>
    </a>
<mat-divider></mat-divider>
    <a mat-button class="menu-button" routerLink="/home/settings" *ngIf="ROLE_CONFIGURAR_SISTEMA">
        <mat-icon>settings</mat-icon>
        <span>Configuraciones</span>
    </a>
    <a mat-button class="menu-button" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
    </a>
    