<div class="header">
    <h3>Administración de Pagos </h3>
    
  </div>
  <mat-tab-group>
    <mat-tab label=" Pagos Delivery">
      <form class="filters"[formGroup]="searchForm">
        <a mat-button class="button-pay" (click)="openAddReceipt('delivery')">
            <mat-icon>paid</mat-icon>
            <span>Pagar</span>
          
      </a>
      <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Ingresa un rango de fechas</mat-label>
        <mat-date-range-input  [rangePicker]="picker">
          <input matStartDate  formControlName="dateOfOrderStart" placeholder="Start date" (dateInput)="applyFilter()">
          <input matEndDate   formControlName="dateOfOrderEnd"  placeholder="End date" (dateInput)="applyFilter()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
      </mat-form-field>
      <mat-form-field appearance="standard" class="field-filter">
        <mat-label>Delivery</mat-label>
        <input matInput  placeholder="Filtrar por delivery" formControlName="delivery"#input (keyup)="applyFilter()">
      </mat-form-field>
      
        
        
        
      </form>
        <div class="mat-elevation-z8"style="max-width: 100%;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox> -->
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)"
                                  [indeterminate]="row.paymentStatusToDelivery === 'Pagado'"
                                  [disabled]="row.paymentStatusToDelivery === 'Pagado'">
                    </mat-checkbox>
                  </td>
                  <td mat-footer-cell *matFooterCellDef="let row">  </td>
                </ng-container>
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> N°. </th>
                  <td mat-cell *matCellDef="let row"> {{row.idOrder}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row"> Totales </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row">  </td>
                </ng-container>
              <!--  -->
              <ng-container matColumnDef="paymentStatusToDelivery">
                <th mat-header-cell *matHeaderCellDef> Estado de Pago Delivery </th>
                <td mat-cell *matCellDef="let row"> {{row.paymentStatusToDelivery}} </td>
                <td mat-footer-cell *matFooterCellDef="let row">  </td>
              </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="delivery">
                  <th mat-header-cell *matHeaderCellDef> Delivery </th>
                  <td mat-cell *matCellDef="let row"> {{row.delivery}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row"> </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="deliveryCost">
                  <th mat-header-cell *matHeaderCellDef> Costo de Envio </th>
                  <td mat-cell *matCellDef="let row"> {{row.deliveryCost}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row">{{getTotalCost() +" Bs."}} </td>
                </ng-container>
              
                <ng-container matColumnDef="dateOfOrderAssigned">
                    <th mat-header-cell *matHeaderCellDef> Fecha de Asignación </th>
                    <td mat-cell *matCellDef="let row"> {{row.dateOfOrderAssigned}} </td>
                    <td mat-footer-cell *matFooterCellDef="let row"> </td>
                  </ng-container>
                  <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef style="min-width: 85px;   text-align: center;font-weight: bold;"> Acciones </th>
                    <td mat-cell *matCellDef="let row " style="text-align: center; " > 
    
                       
                        <a mat-button class="button-pay"(click)="openAddReceipt('delivery')" *ngIf="row.paymentStatusToDelivery === 'Por pagar'">
                            <mat-icon>paid</mat-icon>
                            <span>Pagar</span>
                          
                      </a>
    
                     </td>
                    <td mat-footer-cell *matFooterCellDef="let row"></td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)" [ngClass]="{'change-color':row.paymentStatusToDelivery === 'Pagado'}">
                </tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>
              </table>
        
          <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of orders"></mat-paginator>
        </div>
    </mat-tab>
    <!-- Cobros Delivery -->
    <mat-tab label=" Cobros Delivery">
      <form class="filters"[formGroup]="searchFormCollect">
        <a mat-button class="button-pay" (click)="openAddReceipt('collect')">
            <mat-icon>paid</mat-icon>
            <span>Cobrar</span>
          
      </a>
      <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Ingresa un rango de fechas</mat-label>
        <mat-date-range-input  [rangePicker]="picker2">
          <input matStartDate  formControlName="dateOfOrderStartCollect" placeholder="Start date" (dateInput)="applyFilterCollect()">
          <input matEndDate   formControlName="dateOfOrderEndCollect"  placeholder="End date" (dateInput)="applyFilterCollect()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-date-range-picker #picker2></mat-date-range-picker>
      
      </mat-form-field>
      <mat-form-field appearance="standard" class="field-filter">
        <mat-label>Delivery</mat-label>
        <input matInput  placeholder="Filtrar por delivery" formControlName="delivery"#input (keyup)="applyFilterCollect()">
      </mat-form-field>
      
        
        
        
      </form>
        <div class="mat-elevation-z8"style="max-width: 100%;">
            <table mat-table [dataSource]="dataSourceCollect" class="mat-elevation-z8">
    
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox> -->
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)"
                                  [indeterminate]="row.substateOfOrder === 'cobrado'"
                                  [disabled]="row.substateOfOrder === 'cobrado'">
                    </mat-checkbox>
                  </td>
                  <td mat-footer-cell *matFooterCellDef="let row">  </td>
                </ng-container>
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> N°. </th>
                  <td mat-cell *matCellDef="let row"> {{row.idOrder}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row"> Totales </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let row"> {{row.statusOfOrder}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row">  </td>
                </ng-container>
              <!--  -->
              <ng-container matColumnDef="substateOfOrder">
                <th mat-header-cell *matHeaderCellDef> Estado de Pago Delivery </th>
                <td mat-cell *matCellDef="let row"> {{row.substateOfOrder}} </td>
                <td mat-footer-cell *matFooterCellDef="let row">  </td>
              </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="deliveryName">
                  <th mat-header-cell *matHeaderCellDef> Delivery </th>
                  <td mat-cell *matCellDef="let row"> {{row.deliveryName}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row"> </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="shippingCost">
                  <th mat-header-cell *matHeaderCellDef> Costo de Envio </th>
                  <td mat-cell *matCellDef="let row"> {{row.shippingCost}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row">{{getTotalCostCollect('shippingCost') +" Bs."}} </td>
                </ng-container>
                <ng-container matColumnDef="totalPrice">
                  <th mat-header-cell *matHeaderCellDef> Total </th>
                  <td mat-cell *matCellDef="let row"> {{row.totalPrice}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row">{{getTotalCostCollect('totalPrice') +" Bs."}} </td>
                </ng-container>
              
                <ng-container matColumnDef="dateOfOrderAssigned">
                    <th mat-header-cell *matHeaderCellDef> Fecha de Asignación </th>
                    <td mat-cell *matCellDef="let row"> {{row.dateOfOrderAssigned}} </td>
                    <td mat-footer-cell *matFooterCellDef="let row"> </td>
                  </ng-container>
                  <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef style="min-width: 85px;   text-align: center;font-weight: bold;"> Acciones </th>
                    <td mat-cell *matCellDef="let row " style="text-align: center; " > 
    
                       
                        <a mat-button class="button-pay"(click)="openAddReceipt('collect')" *ngIf="row.substateOfOrder === 'pagado al delivery'">
                            <mat-icon>paid</mat-icon>
                            <span>Cobrar</span>
                          
                      </a>
    
                     </td>
                    <td mat-footer-cell *matFooterCellDef="let row"></td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumnsCollect"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCollect;"
                    (click)="selection.toggle(row)" [ngClass]="{'change-color':row.substateOfOrder === 'cobrado'}">
                </tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumnsCollect" class="example-first-footer-row"></tr>
              </table>
        
          <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of orders"></mat-paginator>
        </div>
    </mat-tab>

    <!-- Pagos Comprador -->
    <mat-tab label="Pagos Comprador">
      <form class="filters"[formGroup]="searchFormBuyer">
        <a mat-button class="button-pay" (click)="openAddReceipt('buyer')">
            <mat-icon>paid</mat-icon>
            <span>Pagar</span>
          
      </a>
      <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Ingresa un rango de fechas</mat-label>
        <mat-date-range-input  [rangePicker]="picker1">
          <input matStartDate  formControlName="dateOfOrderStartBuyer" placeholder="Start date" (dateInput)="applyFilterBuyer()">
          <input matEndDate   formControlName="dateOfOrderEndBuyer"  placeholder="End date" (dateInput)="applyFilterBuyer()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-date-range-picker #picker1></mat-date-range-picker>
      
      </mat-form-field>
      <mat-form-field appearance="standard" class="field-filter">
        <mat-label>Comprador</mat-label>
        <input matInput  placeholder="Filtrar por comprador" formControlName="buyer"#input (keyup)="applyFilterBuyer()">
      </mat-form-field>
      
        
        
        
      </form>
        <div class="mat-elevation-z8"style="max-width: 100%;">
            <table mat-table [dataSource]="dataSourceBuyer" class="mat-elevation-z8">
    
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <!-- <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox> -->
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)"
                                  [indeterminate]="row.paymentStatusToBuyer === 'Pagado'"
                                  [disabled]="row.paymentStatusToBuyer === 'Pagado'">
                    </mat-checkbox>
                  </td>
                  <td mat-footer-cell *matFooterCellDef="let row">  </td>
                </ng-container>
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> N°. </th>
                  <td mat-cell *matCellDef="let row"> {{row.idOrder}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row"> Totales </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Estado </th>
                  <td mat-cell *matCellDef="let row"> {{row.status}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row">  </td>
                </ng-container>
              <!--  -->
              <ng-container matColumnDef="paymentStatusToBuyer">
                <th mat-header-cell *matHeaderCellDef> Estado de Pago Comprador </th>
                <td mat-cell *matCellDef="let row"> {{row.paymentStatusToBuyer}} </td>
                <td mat-footer-cell *matFooterCellDef="let row">  </td>
              </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="buyerName">
                  <th mat-header-cell *matHeaderCellDef> Comprador </th>
                  <td mat-cell *matCellDef="let row"> {{row.buyerName}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row"> </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="buyerCost">
                  <th mat-header-cell *matHeaderCellDef> Costo de Envio </th>
                  <td mat-cell *matCellDef="let row"> {{row.buyerCost}} </td>
                  <td mat-footer-cell *matFooterCellDef="let row">{{getTotalCostBuyer() +" Bs."}} </td>
                </ng-container>
              
                <ng-container matColumnDef="dateOfOrderAssigned">
                    <th mat-header-cell *matHeaderCellDef> Fecha de Asignación </th>
                    <td mat-cell *matCellDef="let row"> {{row.dateOfOrderAssigned}} </td>
                    <td mat-footer-cell *matFooterCellDef="let row"> </td>
                  </ng-container>
                  <ng-container matColumnDef="actions" >
                    <th mat-header-cell *matHeaderCellDef style="min-width: 85px;   text-align: center;font-weight: bold;"> Acciones </th>
                    <td mat-cell *matCellDef="let row " style="text-align: center; " > 
    
                       
                        <a mat-button class="button-pay"(click)="openAddReceipt('buyer')" *ngIf="row.paymentStatusToBuyer === 'Por pagar'">
                            <mat-icon>paid</mat-icon>
                            <span>Pagar</span>
                          
                      </a>
    
                     </td>
                    <td mat-footer-cell *matFooterCellDef="let row"></td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumnsBuyer"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsBuyer;"
                    (click)="selection.toggle(row)" [ngClass]="{'change-color':row.paymentStatusToBuyer === 'Pagado'}">
                </tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumnsBuyer" class="example-first-footer-row"></tr>
              </table>
        
          <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of orders"></mat-paginator>
        </div>
    </mat-tab>
  </mat-tab-group>
  
    