<div class="content">
    
    <div class="info">
        <div class="header">
            
            <h1>{{warehouseActual?.warehouseName}}</h1>
            <mat-divider></mat-divider>
            <div style="display: flex;">
                <div class="second">
                    <h3><mat-icon>store</mat-icon> Descripcion</h3>
                    <h3><mat-icon>place</mat-icon> Informacion</h3>
                    <div class="add"><b>Dirección:</b><p>{{warehouseActual?.address}}</p></div>
                    <div class="add"><b>Latitud:</b><p>{{warehouseActual?.latitude}}</p></div>
                    <div class="add"><b>Longitud:</b><p>{{warehouseActual?.longitude}}</p></div>
                </div>
                <div class="image">
                    <img mat-card-image [src]='"data:image/jpg;base64,"+warehouseActual?.warehouseImage' alt="Photo of a almacen">
                </div>
            </div>
           
            
            
        </div>
        
        <!-- <div class="content">
            <button mat-stroked-button color="primary" (click)="addCategory()"><mat-icon>add</mat-icon>Añadir Categoría </button>
            <button mat-stroked-button color="primary"(click)="addProduct()"><mat-icon>add</mat-icon>Añadir Producto </button>
        
        </div> -->
    </div>
    
   <!--  <div class="categories">
        <h1>CATEGORIAS</h1>
        <mat-divider></mat-divider>
        <a mat-button class="menu-button" >
            <mat-icon>list</mat-icon>
            <span>Todas las categorias</span>
            <mat-icon>arrow_forward_ios</mat-icon>
            
        </a>
        <a mat-button class="menu-button"*ngFor="let category of allCategories">
            <mat-icon>category</mat-icon>
            <span>{{category.categoryName}}</span>
            <mat-icon>arrow_forward_ios</mat-icon>
        </a>
    
    </div> -->

</div>
<div class="all-category">
    <h3 class="h3">Categorias de nuestro almacen</h3>
    <div style="display: flex;  flex-wrap: wrap">
        <a mat-button class="btn-category" (click)="addAllCategory()">
            <mat-icon >list</mat-icon>
            <span>Todos los productos</span>
             
        </a>
        <a mat-button class="btn-category" *ngFor="let category of allCategories"(click)="viewProducts(category)">
            <mat-icon style="text-align: center;">lunch_dining</mat-icon>
            <span>{{category.categoryName}}</span>
        </a>
        <a mat-button class="btn-category" (click)="addNewCategory()">
            <mat-icon >add</mat-icon>
            <span>Nueva Categoria</span>
             
        </a>
    </div>
</div>
<h1>{{categorySelected?.categoryName}}</h1>
<a mat-button class="btn-category" (click)="addNewProduct()">
    <mat-icon >add</mat-icon>
    <span>Añadir Producto</span>
     
</a>
<mat-divider></mat-divider>
<mat-grid-list [cols]="5" rowHeight="300px" gutterSize="10px">
        
    <mat-grid-tile *ngFor="let product of productsReceived" >
        <app-product-card [idProduct]="product.idProduct" [productName]="product.productName"[description]="product.description" [image]="product.image" 
        [measurement]="product.measurement" [price]="product.price[product.price.length-1].price"[edit]="true" ></app-product-card>
    </mat-grid-tile>

</mat-grid-list>
<div style="display: flex; min-height: 300px">
    <div class="createCategory" *ngIf="pressedCategory==true">
        <app-category-form [pressedCategory]="true" [idStore]="idStore"></app-category-form>
    </div>
    <div class="createProduct"*ngIf="pressedProduct==true">
        <app-product-form [allCategories]="allCategories" [idStore]="idStore"></app-product-form>
    </div>
</div>



