
<mat-card class="example-card">
    <!-- <div style="text-align: right;">
        <button mat-icon-button style="margin-top: -4px; margin-right: -10px; text-align: left;" [routerLink]="['/showStores', id]"><mat-icon>launch</mat-icon></button>
    </div> -->
    <mat-card-title class="h1">{{name}}</mat-card-title>
    <mat-card-subtitle>Sector:</mat-card-subtitle>
    <mat-card-content>
      <p><span style="font-weight:bolder;">Direccion:</span> {{address}}</p>
      <div style="display: flex;">
        <div style="width: 40%; padding: 5px;">
          <p >Latitud: <span style="font-weight: lighter; font-size: small;">{{latitude}} </span></p>
          <p >Longitud: <span style="font-weight: lighter; font-size: small;">{{longitude}} </span></p>
        </div>
        
        <div class="image">
          <img mat-card-image [src]="image" alt="Photo of a almacen">
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-button [routerLink]="['/showStores', id]">VER PRODUCTOS</button>
    </mat-card-actions>
  </mat-card>