
<div class="position-button">
    <button mat-icon-button mat-dialog-close style="top: 0;right: 0;"><mat-icon>cancel</mat-icon></button>
</div>

<div class="popup" [formGroup]="changePassword">
    <h1>Contraseña olvidada</h1>
    <p>Por favor, indícanos tu e-mail y te enviaremos un codigo de confirmacion para cambiar tu contraseña.</p>
    <div class="field">
        <mat-form-field  appearance="outline" style="width: 100%;">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ingrese su email" required type="text" formControlName='email'>
        <mat-error >este campo es requerido</mat-error>
        </mat-form-field>
    </div>
    <div class="links">
      <a mat-button class="btn-confirm"[disabled]="changePassword.invalid"(click)="sendEmail()">
        <span *ngIf="activateSpinner==undefined"> Enviar e-mail</span>
        <span *ngIf="activateSpinner"> Enviando e-mail</span>
        <span *ngIf="activateSpinner==false"> Email enviado</span>
        <mat-icon><mat-spinner *ngIf="activateSpinner" [diameter]="30"></mat-spinner></mat-icon>
        <mat-icon *ngIf="activateSpinner==false">done</mat-icon>
      </a>
    </div>
  </div>