<div class="content" *ngIf="identifier==undefined">
    <h3>Verificación del número</h3>
        <p class="text">Se ha enviado un codigo de verificacion al número <b>{{data.telephone}}</b></p>
        <p class="text">Ingresa el código a continuación:</p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ingrese el código de verificación</mat-label>
        <span matPrefix>GT- &nbsp;</span>
        <input type="tel" matInput placeholder="555-555" [formControl]="code">
    </mat-form-field>
    <mat-error>{{getMessageErrors()}}</mat-error>
      <div style="text-align: center; width: 100%; " >
        <button mat-raised-button style="background-color:#58a042; width: 100%; color: white;" (click)="verifyCode(code)"> 
            <mat-icon>confirmation_number</mat-icon>
            Verificar codigo
            
        </button>
    </div>
</div>
<div class="content"*ngIf="identifier==1||identifier==0">
    <h3>Verificación del número</h3>
        <p class="text">Se ha enviado un codigo de verificacion  al número <b>{{data.telephone}}</b> para actualizar su numero</p>
        <p class="text">Ingresa el código a continuación:</p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ingrese el código de verificación</mat-label>
        <span matPrefix>GT- &nbsp;</span>
        <input type="tel" matInput placeholder="555-555" [formControl]="code">
    </mat-form-field>
    <mat-error>{{getMessageErrors()}}</mat-error>
      <div style="text-align: center; width: 100%; " >
        <button mat-raised-button style="background-color:#58a042; width: 100%; color: white;" (click)="verifyEmailCode(code)"> 
            <mat-icon>confirmation_number</mat-icon>
            Verificar codigo
            
        </button>
    </div>
</div>
<div class="content"*ngIf="identifier==2">
    <h3>Verificación del número</h3>
        <p class="text">Se ha enviado un codigo de verificacion  al número <b>{{data.telephone}}</b> para actualizar su numero</p>
        <p class="text">Ingresa el código a continuación:</p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Ingrese el código de verificación</mat-label>
        <span matPrefix>GT- &nbsp;</span>
        <input type="tel" matInput placeholder="555-555" [formControl]="code">
    </mat-form-field>
    <mat-error>{{getMessageErrors()}}</mat-error>
      <div style="text-align: center; width: 100%; " >
        <button mat-raised-button style="background-color:#58a042; width: 100%; color: white;" (click)="restartEmail(code)"> 
            <mat-icon>confirmation_number</mat-icon>
            Verificar codigo
            
        </button>
    </div>
</div>
