<div class="payment">
    <div style="text-align: center; margin-top: 5px; margin-bottom: 10px;"> 
        <h2>FORMA DE PAGO</h2>
    </div>
    <div style="display: block;">
        <div class="image">
            <img [src]='"data:image/jpg;base64,"+payment?.qr' alt="photo of qr" >
        </div>
        <div>
            
            <p style="font-weight: bold;" >Banco: <a style="font-weight: lighter;" id="status">{{payment?.bankName}}</a></p>
            <p style="font-weight: bold;" >Nombre: <a style="font-weight: lighter;">{{payment?.nameAccount}}</a></p>
            <p style="font-weight: bold;" >N° de Cuenta: <a style="font-weight: lighter;">{{payment?.nroAccount}}</a></p>
            
        </div>
    </div>
</div>
