<h2>Pedidos Comprador</h2>
<mat-tab-group >
    <mat-tab label="Pedidos Asignados"> 
        <div class="orders-pending" style="margin-top: 15px;">
            
            <mat-accordion class="example-headers-align" multi *ngFor="let order of allOrders"mat-elevation-z2>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div style=" margin-top: -5px; display: flex;">
       
                            <div style="display: flex;">
                                <div style=" margin-top: 5px; text-align: center; width: 100px;"><p id="nroPedido">Nro {{order.idOrder}}</p></div>
                                <p id="status" >Hora Asignado:{{order.orderAssignedTime}}</p>
                             </div>
                    
                        </div>
                    </mat-panel-title>
                    <mat-panel-description>
                      Pedido de: {{order.warehouseName}}
                      <button mat-icon-button style="margin-top: -4px; margin-right: -10px;"  ><mat-icon>pending_actions</mat-icon></button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <app-order-card [idOrder]="order.idOrder" [orderDate]="order.orderAssignedDate" [orderDetail]=order.orderDetail
                     [quantityProducts]="order.quantityProducts" [status]="order.statusOrder" [totalPrice]="order.totalPrice" [disabled]="false"[buttons]="false"
                        [warehouseName]="order.warehouseName" 
                        [linkAdmin]="order.adminWhatsappLink" [linkDelivery]="order.deliveryWhatsappLink"[sectorName]="order.sectorName" [shippingCost]="order.shippingCost"></app-order-card>
                        
                </mat-expansion-panel>
                
            </mat-accordion>
        </div>
    </mat-tab>

</mat-tab-group>
