<div class="content" >
    <h3>Asignar costo de envio</h3>
        <p class="text">El monto ingresado se aplicara como costo de envio:</p>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Costo de envio</mat-label>
        
        <input type="number" matInput placeholder="Ingrese el costo de envio" [formControl]="shippingCost">
        <span matPrefix>Bs. &nbsp;</span>
    </mat-form-field>
    <mat-error>{{getMessageErrors()}}</mat-error>
      <div style="text-align: center; width: 100%; " >
        <button mat-raised-button style="background-color:#58a042; width: 100%; color: white;" (click)="assignDelivery()"> 
            <mat-icon>done</mat-icon>
            Aceptar
            
        </button>
    </div>
</div>