<div class="header">
    <!-- <button class="back">
        <mat-icon>arrow_back_ios</mat-icon>Volver 
    </button> -->
    <h2 class="title">Lista de todos los pedidos</h2>
</div>

<div style="width: 100%; font-size: 15px;padding-left: 15px; display: flex; height: 45px;text-align: center;">
    <mat-form-field appearance="outline" class="btn-type">
        <mat-label>Filtrar por estado</mat-label>
        <mat-select disableRipple (selectionChange)="filterBy($event.value)">
            <mat-option value="Todos">Todos</mat-option>
            <mat-option value="Pendiente">Pendiente</mat-option>
            <mat-option value="En curso">En curso</mat-option>
            <mat-option value="Finalizado">Finalizado</mat-option>
          </mat-select>
      </mat-form-field>
      <h4><mat-icon>shopping_cart</mat-icon>{{ordersReceived?.length}} Pedidos</h4>
      <a mat-button class="btn-catalog" (click)="openOrdersRejected()">
        <span>Pedidos rechazados</span>
        <mat-icon [matBadge]="quantityBadgeRequest()" matBadgeColor="warn"  >notifications</mat-icon>
    </a>
</div>
<a mat-button class="btn-catalog" style="margin-top: 10px; margin-left: 35px;"(click)="createPayment()">
    <mat-icon>add_card</mat-icon>
    <span> Nueva forma de Pago</span>
    
</a>
<div class="order" *ngFor="let order of ordersReceived">
    <app-order-card [idOrder]="order.idOrder" [orderDate]="order.orderDate" [orderDetail]=order.orderDetail [shippingCost]="order.shippingCost"
    [quantityProducts]="order.quantityProducts" [status]="order.status" [totalPrice]="order.totalPrice" [disabled]="true"[userName]="order.finalUserName"
    [warehouseName]="order.warehouseName" [sectorName]="order.sectorName"[telephone]="order.finalUserTelephone" [email]="order.finalUserEmail"
    [linkClient]="order.finalUserWhatsappLink" [linkDelivery]="order.deliveryWhatsappLink"></app-order-card>
</div>
