.header{
    align-items:center;
    color:#424242;
    display:flex;
    font-size:12.0012px;
    line-height:18.0018px;
    margin:0px 0px 14px;
}
.back{
    align-items:flex-start;
    color:#0a0a0a;
    display:inline-block;
    font-family:Montserrat;
    font-size:14px;
    font-weight:500;
    padding:1px 0px 1px 26px;
    text-align:center;
}
.title{
    color:#424242;
    font-family:Montserrat;
    font-size:36px;
    font-weight:800;
    line-height:43.2px;
    margin:0px 355.609px;
}
.btn-catalog{
    border-color:#c2c0c0;
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    color:#424242;
    display:flex;
    font-family:Montserrat;
    font-size:13px;
    font-weight:500;
    line-height:19.5px;
    padding:6px 14px;
    margin-left:20px;
    margin-right:20px;
    max-width: 30%;
}
.btn-type{
    
    font-family:Montserrat;
    font-size:12px;
    font-weight:500;
    line-height:14.5px;
    margin-left:20px;
    margin-right:20px;
    width: 30%;
    max-width: 30%;
}
.totalOrders{
    color:#424242;
    display:flex;
    font-size:12.0012px;
    justify-content:center;
    line-height:18.0018px;
    padding:0px 0px 48px;
}
h4{
    align-items:center;
    color:#696969;
    display:flex;
    font-family:Montserrat;
    font-weight:800;
    line-height:19.2px;
    margin:0px 0px 20px;
    width: 30%;
    max-width: 30%;
    padding-left: 10%;
}
.order{
    display: flex;
    padding: 15px;
}