<div class="content">
    <div class="firstBox">
        <h3>¿Ya eres usuario de Mi almacen?</h3>
        <p class="text">Si ya eres usuario de la pagina inicia sesión con tu cuenta</p>
        <div class="links">
            <a mat-button class="btn-login" (click)="redirect()" mat-dialog-close>
              <mat-icon>person</mat-icon>
              <span>Accede a tu cuenta</span>
           </a>
          </div>
    </div>
    <div class="secondBox">
        <h3>Registro de Datos</h3>
        <p class="text">Introduce los siguientes datos para confirmar tu pedido</p>
        <form class="form" [formGroup]="createUser" #formDirective="ngForm" (ngSubmit)="saveUserFinal(createUser.value,formDirective)">
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ingrese su nombre" required type="text" formControlName='finalUserName'>
                <mat-error >este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Ingrese su email" required type="text" formControlName='email'>
                <mat-error >este campo es requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="field">
                <mat-form-field  appearance="outline" style="width: 100%;">
                <mat-label>Numero de celular</mat-label>
                <input matInput placeholder="Ingrese su número" 
                        required  formControlName='telephone'>
                
                        <mat-error *ngIf="isValidField('telephone')" >{{getErrorMessageNumber('telephone','register')}}</mat-error>
                </mat-form-field>
            </div>
            <div style="text-align: center; width: 100%; " >
                <button mat-raised-button style="background-color:#424242; width: 100%; color: white;" type="submit" [disabled]="createUser.invalid"> 
                    
                    <span *ngIf="activateSpinner==undefined"> Crear Usuario</span>
                    <mat-icon *ngIf="activateSpinner==undefined">person_outline</mat-icon>
                    <span *ngIf="activateSpinner"> Enviando e-mail</span>
                    <span *ngIf="activateSpinner==false"> Email enviado</span>
                    <mat-icon><mat-spinner *ngIf="activateSpinner" [diameter]="30"></mat-spinner></mat-icon>
                    <mat-icon *ngIf="activateSpinner==false">done</mat-icon>
                </button>
            </div>
        </form>
    </div>
</div>