<div class="search-bar" style="height: 50px;">

</div>
<div style="min-height: calc(100vh - 98px); ">
    <h2 style="text-align: center;">Almacenes registrados. </h2>
    <a mat-button class="btn-catalog"[routerLink]="['/registerStores']"style="text-align:end">
        <mat-icon>add_business</mat-icon>
        <span>Nuevo Almacen </span>
        
    </a>

    <div style="display: flex;  flex-wrap: wrap; padding: 5px;text-align: center;margin-left: 15px; ">
        <app-store-card *ngFor="let warehouse of warehousesReceived"style="margin:15px"  [id]="warehouse.idMarket" [name]="warehouse.warehouseName" [address]="warehouse.address" 
            [latitude]="warehouse.latitude" [longitude]="warehouse.longitude"[image]='"data:image/jpg;base64,"+warehouse.warehouseImage' ></app-store-card>
        
    </div>
    <!-- <mat-grid-list [cols]="2" rowHeight="300px" gutterSize="10px">
        
        <mat-grid-tile *ngFor="let warehouse of warehousesReceived" >
            <app-store-card [id]="warehouse.idMarket" [name]="warehouse.warehouseName" [address]="warehouse.address" 
            [latitude]="warehouse.latitude" [longitude]="warehouse.longitude"[image]='"data:image/jpg;base64,"+warehouse.warehouseImage' ></app-store-card>
        </mat-grid-tile>

    </mat-grid-list> -->
</div>
  
                
